/*
overall style page for the site
all basic style should be in hear but nothing that is particular to a specific page
*/
body {
    background-color: rgba(161, 161, 161, 0.7);
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 955px;
}

.container{
    margin: 25px auto;
    width: 90%;
    min-height: 700px;
    height: 100%;
    max-width: 1500px;
    background-color: rgb(226, 228, 231);
    margin-top: 0px;
    border: 1px solid rgb(151, 151, 151);
    margin-bottom: 10px;
    color: black
}
.container *{
    margin-left: 10px;
    margin-right: 10px;
}
.container h1{
    border: 3px solid grey;
    background-color: rgba(209, 209, 209, 0.7);
    width: fit-content;
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
}
.container p, .container ul{
    font-size: 18pt;
}
/*
page content classes
*/



/*
header
*/
header{
    background-color: rgb(226, 228, 231);;
    margin-bottom: 45px;
}
header .name_logo{
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    
}
header h1{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    align-self: center;
}
header img{
    padding: 0;
}

/*
nav
*/
nav{
    background-color: rgb(145, 77, 145);
    margin: 0px;
    padding: 0px;
}
nav *{
    color: aliceblue;
    text-decoration: none;
    list-style: none;
    font-size: 27px;
    padding: 0;
    margin: 0;
}
nav .page{
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
}
nav .layer1:hover, .layer2:hover, #currentpage{
    color: rgb(204, 226, 247);
    background-color: rgb(151, 82, 151);
    border: 2px groove blueviolet;
    border-radius: 2px;
    transition: 0.7s;
    
}
.mainnav{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.mainnav .layer1, #layer1sm{
    background-color: rgb(155, 95, 155);
}
.mainnav #layer1sm:hover .subnav{
    display: block;
}
.subnav{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    position: absolute;
    background-color: rgba(145, 97, 145, 0.8);
    display: none;
}
/*
footer
*/
footer{
    position: absolute;
    display: flex;
    color: aliceblue;
    background-color: rgb(155, 95, 155);
    width: 100%;
    bottom: 0px;
}


/*
staff pages
*/
.staff_flex{
    display: flex;
    margin: 0px;
}
.content img {
    border: 2px solid black;
}